.button {
  background-color: black;
  color: white;
  border-radius: 6px;
  padding: 10px 24px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border: 0 none;
}

.button:hover {
  border-color: #646cff;
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
