main {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
}

img#map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button#toggle-button {
  position: absolute;
  top: 24px;
  left: 24px;
}

#trip-popover {
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px;
  animation: trip-popover-animation 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes trip-popover-animation {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 24px;
  }
}
